{% extends 'sto/base.html' %}

{% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>СТО БОГАТЫРЕВО</title>
</head>

{% block content %}
    <link rel="stylesheet" href="{% static 'paint/main.css' %}"/>
    <link rel="stylesheet" href="{% static 'paint/slide.css' %}"/>
    <link rel="stylesheet" href="{% static 'paint/company.css' %}"/>
<!-- Slideshow container -->
<section class="home">
        <div class="slider">
            <img class="slide activ" src="{% static 'images/pic1.png'%}">

                    <!--<div class="caption">

                    </div>-->

            </img>

            <img class="slide" src="{% static 'images/pic2.png'%}">

                    <!--<div class="caption">

                    </div>-->

            </img>

            <img class="slide" src="{% static 'images/pic3.png'%}">

                    <!--<div class="caption">

                    </div>-->

            </img>
        </div>
        <div class="controls">
            <div class="prev"><</div>
            <div class="next">></div>
        </div>

        <div class="indicator">

        </div>

    </section>


<div class="page">

<div class="intro" id="intro">
    <div class="container">
        <div class="intro_inner">
                <h2 class="intro_title">СТО БОГАТЫРЕВО</h2>
                <p class="intro_text">СТО «Богатырево» быстро и качественно произведет кузовной ремонт любой сложности,
                    покрасит ваш автомобиль полностью или его отдельные элементы в покрасочной камере, для
                    любителей выделиться на дороге поможет придумать и выполнит кузовной тюнинг!</p>
        </div>
    </div>
</div>


<div class="container">
    <div class="company1">
        <div class="company1_inner">
            <div class="textic">
                <div>
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-telephone" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M3.925 1.745a.636.636 0 0 0-.951-.059l-.97.97c-.453.453-.62 1.095-.421 1.658A16.47 16.47 0 0 0 5.49 10.51a16.471 16.471 0 0 0 6.196 3.907c.563.198 1.205.032 1.658-.421l.97-.97a.636.636 0 0 0-.06-.951l-2.162-1.682a.636.636 0 0 0-.544-.115l-2.052.513a1.636 1.636 0 0 1-1.554-.43L5.64 8.058a1.636 1.636 0 0 1-.43-1.554l.513-2.052a.636.636 0 0 0-.115-.544L3.925 1.745zM2.267.98a1.636 1.636 0 0 1 2.448.153l1.681 2.162c.309.396.418.913.296 1.4l-.513 2.053a.636.636 0 0 0 .167.604L8.65 9.654a.636.636 0 0 0 .604.167l2.052-.513a1.636 1.636 0 0 1 1.401.296l2.162 1.681c.777.604.849 1.753.153 2.448l-.97.97c-.693.693-1.73.998-2.697.658a17.47 17.47 0 0 1-6.571-4.144A17.47 17.47 0 0 1 .639 4.646c-.34-.967-.035-2.004.658-2.698l.97-.969z"/>
                    </svg>
                    <a href="tel:+375 (29) 640-40-94">+375 (29) 640-40-94(vel)(viber)</a>
                </div>

                <div>
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-telephone" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M3.925 1.745a.636.636 0 0 0-.951-.059l-.97.97c-.453.453-.62 1.095-.421 1.658A16.47 16.47 0 0 0 5.49 10.51a16.471 16.471 0 0 0 6.196 3.907c.563.198 1.205.032 1.658-.421l.97-.97a.636.636 0 0 0-.06-.951l-2.162-1.682a.636.636 0 0 0-.544-.115l-2.052.513a1.636 1.636 0 0 1-1.554-.43L5.64 8.058a1.636 1.636 0 0 1-.43-1.554l.513-2.052a.636.636 0 0 0-.115-.544L3.925 1.745zM2.267.98a1.636 1.636 0 0 1 2.448.153l1.681 2.162c.309.396.418.913.296 1.4l-.513 2.053a.636.636 0 0 0 .167.604L8.65 9.654a.636.636 0 0 0 .604.167l2.052-.513a1.636 1.636 0 0 1 1.401.296l2.162 1.681c.777.604.849 1.753.153 2.448l-.97.97c-.693.693-1.73.998-2.697.658a17.47 17.47 0 0 1-6.571-4.144A17.47 17.47 0 0 1 .639 4.646c-.34-.967-.035-2.004.658-2.698l.97-.969z"/>
                    </svg>
                        <a href="tel:+375 (29) 640-48-39">+375 (29) 640-48-39(vel)</a>
                </div>

                <div>
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-telephone" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M3.925 1.745a.636.636 0 0 0-.951-.059l-.97.97c-.453.453-.62 1.095-.421 1.658A16.47 16.47 0 0 0 5.49 10.51a16.471 16.471 0 0 0 6.196 3.907c.563.198 1.205.032 1.658-.421l.97-.97a.636.636 0 0 0-.06-.951l-2.162-1.682a.636.636 0 0 0-.544-.115l-2.052.513a1.636 1.636 0 0 1-1.554-.43L5.64 8.058a1.636 1.636 0 0 1-.43-1.554l.513-2.052a.636.636 0 0 0-.115-.544L3.925 1.745zM2.267.98a1.636 1.636 0 0 1 2.448.153l1.681 2.162c.309.396.418.913.296 1.4l-.513 2.053a.636.636 0 0 0 .167.604L8.65 9.654a.636.636 0 0 0 .604.167l2.052-.513a1.636 1.636 0 0 1 1.401.296l2.162 1.681c.777.604.849 1.753.153 2.448l-.97.97c-.693.693-1.73.998-2.697.658a17.47 17.47 0 0 1-6.571-4.144A17.47 17.47 0 0 1 .639 4.646c-.34-.967-.035-2.004.658-2.698l.97-.969z"/>
                    </svg>
                    <a href="tel:+375 (17) 513-03-27"> +375 (17) 513-03-27(городской)</a>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="section">
    <div class="container">
        <div class="section_header">
            <h4 class="section_title">Услуги</h4>
        </div>


        <div class="service">
            <div class="about_item">
                <div class="about_inner">
                    <div class="about_image">
                        <img src="{% static 'images/remont.png'%}"/>
                    </div>
                    <a class="about_text" href="/remont">Ремонт</a>
                </div>
            </div>

            <div class="about_item">
                <div class="about_inner">
                    <div class="about_image">
                        <img src="{% static 'images/paint.png'%}"/>
                    </div>
                    <a class="about_text" href="/paint">Покраска</a>
                </div>
            </div>

            <div class="about_item">
                <div class="about_inner">
                    <div class="about_image">
                        <img src="{% static 'images/Tuning.png'%}"/>
                    </div>
                    <a class="about_text" href="/tunning">Тюнинг</a>
                </div>
            </div>
        </div>

    </div>
</section>


<div class="why">
     <div class="container">
         <h2 class="why_title">Почему именно мы?</h2>
     </div>

</div>


<div class="statistics">
    <div class="container">
        <div class="stat">
            <div class="stat_item">
                <div class="stat_num">20</div>
                <div class="stat_text">Лет опыт команды</div>
            </div>

            <div class="stat_item">
                <div class="stat_num">1536</div>
                <div class="stat_text">Клиентов</div>
            </div>

            <div class="stat_item">
                <div class="stat_num">20</div>
                <div class="stat_text">Услуг в вашем распоряжении</div>
            </div>

            <div class="stat_item">
                <div class="stat_num">4326</div>
                <div class="stat_text">Машин прошли через наши руки</div>
            </div>


        </div>
    </div>
</div>


<section class="about__us">
    <div class="container">
        <div class="section_header">
            <h4 class="about_title">
                <a href="/comment">Отзывы</a>
            </h4>
        </div>

        <div class="clients">
            <div class="clients-items">
               {% for comment in comm  %}
                    <div class="block1">
                        <img class="clients_photo" src="{% static 'images/logo1.png'%}"/>
                    </div>
                    <div class="clients_name">{{ comment.comment_name }}</div>
                    <div class="clients_theme">{{ comment.comment_theme }}</div>
                    <div class="clients_comment">{{ comment.comment_body }}</div>
                   <hr>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<section class="about_map">
    <div class="container">
        <div class="map">
            <h2 class="map_title">
                <div>
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-geo" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11 4a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"></path>
                        <path d="M7.5 4h1v9a.5.5 0 0 1-1 0V4z"></path>
                        <path fill-rule="evenodd" d="M6.489 12.095a.5.5 0 0 1-.383.594c-.565.123-1.003.292-1.286.472-.302.192-.32.321-.32.339 0 .013.005.085.146.21.14.124.372.26.701.382.655.246 1.593.408 2.653.408s1.998-.162 2.653-.408c.329-.123.56-.258.701-.382.14-.125.146-.197.146-.21 0-.018-.018-.147-.32-.339-.283-.18-.721-.35-1.286-.472a.5.5 0 1 1 .212-.977c.63.137 1.193.34 1.61.606.4.253.784.645.784 1.182 0 .402-.219.724-.483.958-.264.235-.618.423-1.013.57-.793.298-1.855.472-3.004.472s-2.21-.174-3.004-.471c-.395-.148-.749-.336-1.013-.571-.264-.234-.483-.556-.483-.958 0-.537.384-.929.783-1.182.418-.266.98-.47 1.611-.606a.5.5 0 0 1 .595.383z"></path>
                    </svg>
                </div>
                <a href="https://www.google.ru/maps/place/%D0%91%D1%80%D0%B8%D1%82%D0%B8%D1%82%D1%80%D0%B5%D0%B9%D0%B4/@53.8475339,27.3912202,16z/data=!4m5!3m4!1s0x46dbda30d59fda93:0xa73875f0b6772e54!8m2!3d53.8475726!4d27.390516?hl=en" target="_blank">Мы на карте</a>
            </h2>
        </div>
    </div>
</section>

</div>

    <script src="{% static 'js/slideshow.js'%}"></script>
    <script src="{% static 'js/slide.js'%}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/main.js'%}"></script>

{% endblock %}