    {% load static %}

<link rel="stylesheet" href="{% static 'paint/main.css' %}"/>


<div class="header">
    <div class="container">
        <div class="header_inner">
            <a class="logo" href="/">СТО БОГАТЫРЕВО</a>

            <div class="navbar">
                <a href="/">Главная</a>
                <div class="dropdown">
                    <button class="dropbtn">Услуги
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="/remont">Кузовной ремонт</a>
                        <a href="/paint">Покраска</a>
                        <a href="/tunning">Тюнинг кузова</a>
                    </div>
                </div>
                <a href="/price">Цены</a>
                <a href="/company">О компании</a>
            </div>

        </div>
    </div>
</div>

<div class="header1" id="header1">
    <div class="container">
        <div class="header_inner1">
            <div class="logo">СТО БОГАТЫРЕВО</div>

            <div class="navbar1" id="navbar1">
                <a class="nav_link1" href="/">Главная</a>
                <a class="nav_link1" href="/remont">Кузовной ремонт</a>
                <a class="nav_link1" href="/paint">Покраска</a>
                <a class="nav_link1" href="/tunning">Тюнинг кузова</a>
                <a class="nav_link1" href="/price">Цены</a>
                <a class="nav_link1" href="/company">О компании</a>
            </div>

            <button class="nav_togle" id="nav_togle" type="button">
                <span class="nav_togle_item">Меню</span>
            </button>
        </div>
    </div>
</div>







