 {% load static %}

<link rel="stylesheet" href="{% static 'paint/navbar1.css' %}"/>

<div class="header1 active">
    <div class="container">
        <div class="header_inner1">
            <div class="navbar1">
                <a class="nav_link1" href="/">Главная</a>
                <a class="nav_link1" href="/remont">Кузовной ремонт</a>
                <a class="nav_link1" href="/paint">Покраска</a>
                <a class="nav_link1" href="/tunning">Тюнинг кузова</a>
                <a class="nav_link1" href="/price">Цены</a>
                <a class="nav_link1" href="#about">О компании</a>
            </div>
            <button class="nav_togle" type="button">
                <span class="nav_togle_item">Меню</span>
            </button>
        </div>
    </div>
</div>